<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authenticate User</title>
</head>
<body>

<!-- Form for user authentication -->
<form method="post" action="http://localhost:8081/users/autenticate">
  <label for="login">User name:</label>
  <input type="text" id="login" name="login" required><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br>

  <input type="submit" value="Authenticate User">
</form>

</body>
</html>